* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Aptos Display', Arial, sans-serif;
    line-height: 1.6;
    color: #e0e0e0;
    background-color: #2d2d2d;
}

.header {
    background-image: url('images/head.png');
    background-size: cover;
    background-position: center;
    color: #4caf50;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}

.header .header-content {
    background: rgba(0, 0, 0, 0.85); /* Полупрозрачная черная подложка */
    padding: 1rem 2rem; /* Увеличиваем отступы сверху и снизу, чтобы подложка была длиннее */
    border-radius: 15px;
    display: inline-block;
}



.header h1 {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-family: 'Courier New', monospace;
    color: #4caf50;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0.3rem 1rem;
}

.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
    margin-top: 0.5rem;
}

.nav ul li {
    position: relative;
}

.nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
    display: inline-block;
}

.nav ul li a:hover {
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 0;
}

.section {
    background: rgba(61,61,61, 0.7);
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.section h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #4caf50;
}

#about h2 {
    margin-bottom: 0;
}

.section p {
    margin-bottom: 1rem;
    color: #d0d0d0;
}

.section.about .content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.section.about img {
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border: 2px solid #555;
    padding: 4px;
}

.projects ul {
    list-style-type: none;
    padding: 0;
}

.projects ul li {
    background: #4a4a4a;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 6px;
    color: #e0e0e0;
    transition: transform 0.2s;
}

.projects ul li:hover {
    transform: scale(1.02);
}

.projects ul li h3 {
    color: #4caf50;
    font-size: 1.2rem;
}

.projects ul li a {
    color: #80cfa9;
    text-decoration: none;
}

.projects ul li a:hover {
    text-decoration: none;
}

.contact ul li a {
    color: #80cfa9;
    text-decoration: none;
}

.contact ul li a:hover {
    text-decoration: none;
}

.contact h2 {
    text-align: center;
}

.contact .contacts_list {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.contact .contacts_card {
    display: inline-block;
    list-style: 0;
    width: 410px;
    height: 400px;
    background-color: #4A4A4A;
    margin-right: 50px;
    border-radius: 10px;
}

.contact .contacts_card h3 {
    text-align: center;
    padding-top: 10px;
}

.contact .contacts_card h3 {
    text-align: center;
    color: #4caf50;
}
.contact .contacts_card h4 {
    text-align: center;
    color: #2F6B31;
}

.contacts_card .contacts_card_main_info {
    margin-top: 10px;
} 

.contacts_card .contacts_card_list {
    display: inline-block;
    margin-left: 10px;
    list-style: none;
    vertical-align: top;
    color: #4caf50;
}

.contacts_card .contacts_card_list li{
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border: 1px solid #46A049;
    /* background-color: #555; */
    margin-bottom: 5px;
    padding: 5px;
}

.contacts_card .contacts_card_list a {
    font-size: medium;
}

.contacts_card .contact_card_img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* или `contain`, если хотите сохранить пропорции */
    /* border: 40px solid #555;
    border-radius: 10px; закругление углов изображения */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border: 2px solid #555;
    margin-left: 20px;
}